@media (min-width:320px) and (max-width:576px)
{
    /* nav start */
nav{
    z-index: 999;
    }
.nav_ul_main{
    margin: 0;
    gap: 0;
}
.show{
    background: #FF4655;
    padding-left: 12px;
    padding-bottom: 12px;
}
nav li:hover{
    border-bottom: 1px solid #ffffff;
}
    /* nav end */

    /* hero start */
#hero {
    padding: 146px 0 50px 0;
}
.hero_text_area h4 {
    font-size: 24px;
}
.hero_text_area h1 {
    font-size: 50px;
}
.hero_text_area h1::after {
display: none;
}
.hero_text_area a {
    font-size: 14px;
    padding: 8px 19px;
    margin-top: 19px;
}
.hero_icon ul {
    margin: 50px 0 0 0;
}
    /* hero end */

    /* about community start */
.community_image img{
    width: 100%;
}
.community_h2 {
    font-size: 30px;
}
.community_h2::after {
    display: none;
}
.community_right h3 {
    font-size: 25px;
    margin-top: 25px;
}
.community_right ul li {
    font-size: 16px;
}
.community_right p {
    font-size: 16px;
}
.number {
    margin: 25px 8px 20px 8px;
    max-width: none;
    width: 95%;
}
    /* about community end */

    /* popular games start */
.popular-h3 h3 {
    font-size: 38px;
    font-weight: 600;
    padding: 36px 0 0px 0px;
}
.popular-h3 h3::after {
    display: none;
}
.slider_start {
    margin-top: 0px;
}
.slide_margin{
    margin-top: 90px;
}
.slide_right {
    margin-top: 30px;
}
.popular_left {
    bottom: 0px;
}
.draggable{
    height: auto;
}
.left_icon {
    top: 0;
    left: 0;
}
.right_icon {
    bottom: 0px;
}
    /* popular games end */

    /* live stream start */
.live_heading {
    margin: 40px 0 26px 0;
}
.live_heading h2 {
    font-size: 35px;
}
.live_heading h2::after {
    display: none;
}
.live_video {
    margin: 0px 0 30px 0;
}
.live_text {
    margin-top: 12px;
    padding: 0px 20px;
}
.prev_matches {
    margin-top: 30px;
}
.bone {
    clip-path: none;
}
.btwo{
    clip-path: none;
}
.prev_bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}
    /* live stream end */

    /* black friday start */
#black_friday {
    padding: 25px 0 35px 0;
}
.top_games_h2 h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.top_games_h2 h2::after {
    display: none;
}
.friday_item{
    gap: 35px;
}
.bottom_row_img img{
    width: 100%;
}
.bottom_row_text {
    padding-top: 20px;
    padding-left: 20px;
}
    /* black friday end */

    /* accessories start */
.accesories_heading h2 {
    font-size: 35px;
    margin-bottom: 40px;
}
#accesories {
    padding: 24px 0 35px 0;
}
.accesories_heading h2::after {
    display: none;
}
.prev_icon {
    left: 10px;
}
.next_icon {
    right: 10px;
}
    /* accessories end */

    /* elite team start */
#Elite_team {
    padding-top: 20px;
    padding-bottom: 40px;
}
.elite_heading h2 {
    font-size: 35px;
}
.elite_team {
    margin: 0px 0 0px 0;
}
.elite_heading h2::after {
    display: none;
}
.elite_hover_main:hover .elite_text_area{
    height: 230px;
}
.elite_hover_links ul {
    margin-bottom: 0px;
}
.elite_hover_links {
    padding: 19px 10px 30px 30px;
}
    /* elite team end */

    /*faq start*/
.line1 {
    display: none;
}
.line2 {
    display: none;
}
.FAQ_item{
    margin-bottom: 30px;
}
.FAQ_heading h2 {
    font-size: 35px;
    margin-bottom: 40px;
}
.FAQ_heading h2::after {
    display: none;
}
#FAQ {
    margin-top: 30px;
}
.FAQ_main {
    margin-bottom: 0px;
}
    /*faq start*/

    /* floating part start */
.float{
    bottom: 0;
}
    /* floating part start */

    /* footer start */
.foot_top {
    padding: 30px 0;
}
.foot_h2 {
    margin-bottom: 0px;
}
.foot_p {
    margin: 10px 0 30px 0;
}
.foot_ul {
    margin-bottom: 25px;
}
.footer_img{
    margin-top: 20px;
}
    /* footer end */

}
@media (min-width:576px) and (max-width:768px)
{
    /* nav srart */
    nav{
        z-index: 999;
        }
    .nav_ul_main{
        margin: 0;
        gap: 0;
    }
    .show{
        background: #FF4655;
        padding-left: 12px;
        padding-bottom: 12px;
    }
    nav li:hover{
        border-bottom: 1px solid #ffffff;
    }
    /* nav end */

    /* hero start */
    #hero {
        padding: 250px 0 50px 0;
    }
    .hero_text_area h1::after {
        display: none;
    }
    .hero_icon ul {
        margin: 150px 0 0 0;
    }
    /* hero end */

    /* about community start */
    .community_image img {
        width: 100%;
    }
    .community_right{
        margin-top: 20px;
    }
    .number {
        margin: 30px 8px 30px 8px;
    }
    /* about community end */

    /* popular games start */
    .slider_start {
        margin-top: 0px;
    }
    .slide_margin {
        margin-top: 120px;
    }
    .slide_right {
        margin-top: 30px;
    }
    .popular_left {
        bottom: 0px;
    }
    .draggable{
        height: auto;
    }
    /* popular games start */

    /* accessories start */
    .next_icon {
        bottom: -45px;
        right: 80px;
    }
    .prev_icon {
        bottom: -45px;
        left: 80px;
        z-index: 999;
    }
    /* accessories end */

    /* lieve strimin start */
    .btwo {
        clip-path: none;
    }
    .bone{
        clip-path: none;
    }
    /* lieve strimin end */

    /* elite team start */
    .elite_hover_links ul {
        margin-bottom: 0;
    }
    /* elite team end */

    /* FAQ start */
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .FAQ_item {
        margin-bottom: 30px;
    }
    .FAQ_heading h2 {
        margin-bottom: 50px;
    }
    .FAQ_main {
        margin-bottom: 30px;
    }
    /* FAQ start */

    /* floating start */
    .float{
        bottom: 0;
    }
    /* floating end */

    /* foot start */
    .foot_top {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .foot_h2 {
        text-align: end;
    }
    /* foot end */
}
@media (min-width: 768px) and (max-width: 992px)
{
    /* nav start */
    nav{
        z-index: 999;
        }
    .nav_ul_main{
        margin: 0;
        gap: 0;
    }
    .show{
        background: #FF4655;
        padding-left: 12px;
        padding-bottom: 12px;
    }
    nav li:hover{
        border-bottom: 1px solid #ffffff;
    }
    /* nav end */
    /* hero start */
    #hero {
        padding: 250px 0 50px 0;
    }
    .hero_icon ul {
        margin: 150px 0 0 0;
    }
    /* hero end */
    
    /* about community start */
    .community_image img {
        width: 100%;
    }
    .community_right{
        margin-top: 20px;
    }
    .number {
        margin: 30px 0;
    }
    /* about community end */

    /* popular start */
    .draggable{
        height: auto;
    }
    .popular_left {
        bottom: 0px;
    }
    /* popular end */

    /* elite team start */
    .elite_hover_links ul {
        margin-bottom: 0;
    }
    /* elite team end */

    /* faq start */
    .FAQ_main {
        margin-bottom: 70px;
    }
    .FAQ_item{
        margin-bottom: 30px;
    }
    .line2 {
        margin-top: 15px;
        margin-bottom: 45px;    
    }
    /* faq end */
    /* floating start */
    .float{
        bottom: 0;
    }
    /* floating end */
    /* foot start */
    .foot_top {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .foot_h2 {
        margin-bottom: 0;
    }
    .footer_img img{
        width: auto !important;
    }
    /* foot end */
}